<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hu.rycus.watchface.triangular">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission
        android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme">

        <service android:name=".TriangularWatchFace"
                 android:label="@string/app_name"
                 android:allowEmbedded="true"
                 android:taskAffinity=""
                 android:permission="android.permission.BIND_WALLPAPER" >

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.wearable.standalone"
                android:value="true" />

            <!-- companion configuration activity -->
            <meta-data
                android:name=
                    "com.google.android.wearable.watchface.companionConfigurationAction"
                android:value=
                    "hu.rycus.watchface.triangular.config.CONFIG_TRIANGULAR" />

            <!-- wearable configuration activity -->
            <meta-data
                android:name=
                    "com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value=
                    "hu.rycus.watchface.triangular.config.CONFIG_TRIANGULAR" />

        </service>

        <service android:name=".config.ConfigurationListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/triangular" />
            </intent-filter>
        </service>

        <activity android:name=".config.WearableConfigurationActivity"
                  android:label="Triangular Watchface Configuration">

            <intent-filter>
                <action android:name="hu.rycus.watchface.triangular.config.CONFIG_TRIANGULAR" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".config.GroupSelectionActivity"/>

        <activity android:name=".config.PaletteSelectionActivity"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
